$main-color: #5d6981;
$secondary-color: white;
$cyan: #0149a1;
$special-color: $cyan;
$color-paragraph: #7c8ca0;
$main-font: 'Roboto', sans-serif;
$main-font-size: 18px;
$h2-font-size-xs: 2em;
$h2-font-size: 4em;
$h3-font-size: (30/18)*1em;
$main-font-weight: 300;
$title-font-weight: 700;
$type-box-sizing: border-box;
$min-width: 320px;
$xs-width: 480px;
$sm-width: 768px;
$md-width: 992px;
$lg-width: 1200px;
$max-width: 1920px;
$link-text-decoration: none;
$list-style: none;
$link-cursor: pointer;
$link-transition: all 0.4s linear;
$button-bg-color: #ff2d55;